{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Administration</h1>
			<p>
				<a href="{{ url('pays_admin.index') }}">Gérer les pays</a>
			</p>
			
		</div>
	</div>
{% endblock %}

